/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

/*CSS for the Header and elements contained in header section CSS that I added */

.container header{
    display:flex;
    flex-flow:row wrap;
    justify-content: space-between;
    align-items:baseline;
    width: 100%;
}

.container header img{
    margin-left:0px;
}

.container header nav{
    display:flex;
    flex-flow:row wrap;
    justify-content:space-around;
    width:80%;

}

.container header nav a{
    margin-top:20px;
    margin-left:21px;
    margin-right:21px;
    margin-bottom:20px;
    font-size:14px;
    text-decoration:none;
    color:black;
}

.container header img{
    margin-top: 20px;
    margin-bottom:20px;
}
/*End CSS for the Header*/


/*START: CSS that came with file*/
.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*END CSS that came with initial project*/

/*CSS for all the boxes added by me (placed here so that CSS vaguely somewhat follows the order the affected elements appear on the page.

For reference, here's what the instructions said with regard to the box color. 
* [X] box1: `teal`
* [X] box2: `gold`
* [X] box3: `cadetblue`
* [X] box4: `coral`
* [X] box5: `crimson`
* [X] box6: `forestgreen`
* [X] box7: `darkorchid`
* [X] box8: `hotpink`
* [X] box9: `indigo`
* [X] box10: `dodgerblue`
*/

.middle-content .boxes .box.box1 {
    background-color: teal;
}

.middle-content .boxes .box.box2{
    background-color: gold;
}

.middle-content .boxes .box.box3{
    background-color: cadetblue;
}


.middle-content .boxes .box.box4{
    background-color: coral;
}


.middle-content .boxes .box.box5{
    background-color: crimson;
}

.middle-content .boxes .box.box6{
    background-color: forestgreen;
}

.middle-content .boxes .box.box7{
    background-color: darkorchid;
}


.middle-content .boxes .box.box8{
    background-color: hotpink;
}


.middle-content .boxes .box.box9{
    background-color: indigo;
}

.middle-content .boxes .box.box10{
    background-color: dodgerblue;
}


/*The CSS for the bottom section before the footer*/

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

/*CSS for the Footer */
footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}


/*CSS for for About Page:

Here is the rough breakdown of what each .about-[division]-section chunk of CSS corresponds to. 
- .about-top-section = section with top paragraph area with "About" heading
- .about-mid-section = section with four blocks consisting of an image, a heading, a paragraph, and a button.
- .about-lower-section = section that contains a closing paragraph block.
*/

.container.about-page{
    width:100%;
}

/*CSS for Top About Section that contains the "About" paragraph*/
.container.about-page .about-top-section{
    width:100%;
    padding-right:20px;
    padding-left:20px;
    padding-bottom:20px;
    margin-bottom:10px;
    border-bottom: 1px dashed black;
}


/*CSS for "Mid-Section" where the four sections with photos and buttons
- CSS here affects the section that contains 4 <div>'s that each contain an <h2> and <p>
*/
.container.about-page .about-mid-section{
    width:100%;
    display:flex;
    flex-flow:row wrap;
    justify-content:space-between;
    padding:10px;
}

.container.about-page .about-mid-section div{
    width:378px;
    height:425px;
    margin-top:24px;
    margin-bottom:15px;
    border-bottom:1px dashed black;
}

.container.about-page .about-mid-section div h2{
    margin-top:10px;
    margin-bottom:10px;
}

.container.about-page .about-mid-section div p{
    margin-top:10px;
    margin-bottom:20px;
}

.container.about-page .about-mid-section button{
    font-size:16px;
    width:131px;
    height:39px;
    background-color: white;
    border-radius:10px;
    border: 2px solid black;
    display:inline-block;
}

/*CSS for Lower Section which contains closing paragraph titled "Let's Work Together"*/
.container.about-page .about-lower-section{
    width:100%;
    padding-right:20px;
    padding-left:20px;
    padding-bottom:20px;
    margin-top:18px;
    margin-bottom:10px;
}

/* CSS for Stretch Goal 1: Build a page of your choosing from the navigation items.  Come up with content and images that fit the theme.  */

.container.products-page{
    /*Will match width of larger container*/
    width:100%
}

.container.products-page h2{
    font-weight:bolder;
}

.container.products-page .product-list img{
    margin-top:10px;
    margin-bottom:30px;

}

.container.products-page .product-list {
    margin-top:20px;
    margin-bottom:20px;
    padding-right:20px;
    padding-left:20px;
    display:flex;
    flex-flow:row wrap;
    justify-content:space-between;
    align-items:flex-start;
    align-content:flex-start;
}

.container.products-page .product-list div{
    width:370px;
    height:236px;
    margin:10px;
    border-bottom: 2px solid black; 
    
}


.container.products-page .product-list div p{
    margin-bottom:20px;
}

/*
CSS for Additional Fonts
font-family: 'Srisakdi', cursive;
font-family: 'Inconsolata', monospace;
font-family: 'Indie Flower', cursive;

*/

.container.products-page .product-list div h2.nexus{
    color:sienna;
    font-family: 'Srisakdi', cursive;

}


.container.products-page .product-list div h2.spinner{
    color:dodgerblue;
    font-family: 'Inconsolata', monospace;

}


.container.products-page .product-list div h2.tyrell{
    color:darkred;
}


.container.products-page .product-list div h2.agentk{
    color:darkmagenta;
    font-family: 'Indie Flower', cursive;
}


.container.products-page .product-list button{
    font-size:16px;
    width:131px;
    height:39px;
    background-color: white;
    border-radius:10px;
    border: 2px solid black;
    display:inline-block;
}
